<h1>Listing Tabs</h1>

<%= link "New tab", to: tab_path(@conn, :new) %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Currency</th>
    <th>Link</th>
  </tr>
  <%= for tab <- @tabs do %>
  <tr>
    <td><%= tab.name %></td>
    <td><%= tab.currency %></td>
    
    <td><%= link "details", to: tab_path(@conn, :show, tab.name)  %></td>
  </tr>
  <% end %>
</table>
